<!DOCTYPE html>
<html>
<head>
    {% block head %}
        <title>{{ title }}</title>
        <link rel="stylesheet" href="./assets/styles.css"/>
    {% endblock %}
</head>
<body>

{% block main %}
    <main>
        {% block navbar %}
            {% include('./Components/Navbar/Navbar.twig') %}
        {% endblock %}

        {% block heading %}
            <h1>{{ heading }}</h1>
        {% endblock %}

        {% block content %}

        {% endblock %}
    </main>
{% endblock %}

</body>
</html>