<!DOCTYPE html>
<html lang="de">
<head>
    {% block head %}
        <title>{{ title }}</title>
        <link rel="stylesheet" href="./assets/styles.css"/>
    {% endblock %}
</head>
<body>

{% block main %}
    <main>
        {% block navbar %}
            {% include('./Components/Navbar/Navbar.twig') %}
        {% endblock %}

        {% block heading %}
            <h1>{{ heading }}</h1>
        {% endblock %}

        {% block content %}
            <section>
                {% block table %}
                    <div class="table">

                    </div>
                {% endblock %}

                {% block selection %}
                    <div class="selection">
                        <button class="btn_done">
                            <span>Erledigt</span>
                            <img src="./assets/icons/tick.svg" alt="">
                        </button>
                        <button class="btn_not_done">
                            <span>Nicht erledigt</span>
                            <img src="./assets/icons/cross.svg" alt="">
                        </button>
                    </div>
                {% endblock %}
            </section>
        {% endblock %}
    </main>
{% endblock %}

</body>
</html>